/* gueda */
@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap");

/* open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "Gotham-black";

  src: url("./fonts/Gotham\ Black\ Regular.ttf");
}
@font-face {
  font-family: "larsseit-bold";
  src: url("./fonts/Larsseit-Bold.otf");
}
@font-face {
  font-family: "larsseit-medium";

  src: url("./fonts/Larsseit-Medium.otf");
}
@font-face {
  font-family: "larsseit-light";
  src: url("./fonts/Larsseit-Light.otf");
}

@font-face {
  font-family: "helvetica-light";
  src: url("./fonts/Helvetica.ttf");
}
@font-face {
  font-family: "helvetica-bold";
  src: url("./fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: "Helvetica-light";
  src: url("./fonts/Helvetica.ttf");
}
/* @font-face {
  font-family: "Montserrat";
  src: url("./fonts/Helvetica.ttf");
} */

body {
  /* font-family: "larsseit-medium", sans-serif !important; */
  /* gueda */
  /* font-family: 'Gudea', sans-serif; */

  font-family: "Open Sans", sans-serif;

  /* font-family: 'Montserrat', sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2.heading {
  position: relative;
  width: fit-content;
}

h2.heading::after {
  content: "";
  position: absolute;
  bottom: -14px;
  height: 4px;
  width: 50px;
  /* min-width: 62px; */
  margin: auto;
  border-radius: 40px;
  background: #c00000;
  left: 50%;
  transform: translateX(-50%);
}
.page-title::after {
  content: "";
  position: absolute;
  bottom: -170px;
  height: 4px;
  width: 50px;
  margin: auto;
  border-radius: 40px;
  background: #c00000;
  left: 50%;
  transform: translateX(-50%);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #565869;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.contact-text {
  letter-spacing: 2px;
  line-height: 2;
}
